.column {
  float: left;
  width: 18%;
  margin:0 1% 0 1%;
  display: inline-block;
  border-radius:15px;
  background-color:#81C3F1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
    display: block;
    margin: auto;
}

body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
    /*text-align:center;*/
}

.left {
  text-align:left;
}

.inputForm {
  background-color:#73E581;
  /*background-color:#81C3F1;*/
  border-radius:15px;
  width: 50%;
  display:inline-block;
  padding: 5%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  color: white;
  background-color: grey;
  text-align: center;
  font-weight:bold;
  padding:1%;
}

.finInfo {
  background-color: #FFFFFF;
  border-radius:15px;
  width: 50%;
  display:inline-block;
  padding: 5%;
}